*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 2em;
}
.header ul{
list-style: none;
display: flex;

}
.header ul li{
font-size: 18px;
padding: 5px 30px;
}

.getstarted {
    border-radius: 10px;
    border: none;
    font-size: 22px;
    color: green;
    padding: 13px;
    color: black;
    background-color: orange;
}

.signin {
    border-radius: 12px;
    border:none;
    font-size: 22px;
    color:  black;
    margin-left: 30px;
    padding: 13px 50px;
    background-color: transparent;
    
}
#cart{
    margin-right: 20px;
    font-size: 22px;
}
.welcome{
    background-color:green;
    padding: 40px;
}
.welcome h1{
    color: white;
    padding: 16px 40px;
    font-size: 3.2em;
    margin-left: 6em;
}
.view-btn {

    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: black;
    margin-left:28em;
    padding: 13px;
    background-color: orange;
}
.mission{
    padding:30px  60px;
    margin-left: 12em;
}
.mission span{
    color: green;
}
.mission h1{
    color: rgb(5, 5, 104);
}
.help-btn {
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: white;
    margin-left: 50em;
    padding: 13px;
    background-color: green;;
}
.culture{
    padding: 8px 30px;
    margin-left: 7em;
}
.culture span{
    color: green;
}
.culture h1{
    color: rgb(5, 5, 104);
}
.culture img{
  
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 28pxpx solid black;
    border-radius: 50%;
    margin-left: 50em; 
    position: absolute;
    top: 500px;
 
}
.sustainability span{
    color: green;
}
.sustainability h1{
    color: rgb(5, 5, 104);
}
.sustainability {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.sustainability img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    
    border: 28pxpx solid black;
  
 
}
#menu-icon{
    font-size: 50px;
    position: absolute;
    right: 0px;
    display: none;
}

@media screen and (max-width:600px){
    #menu-icon{
        display: block;
    }
    #buttons{
        display: none;
    }
    .header ul{
        display: none;
    }
    .header h1{ 
        font-size: 24px;
        
    }
  .buttons{
    display: none;
  }
  #cart{
    display: none;
  }
  .welcome h1{
    font-size: 25px;
    padding: 10px;
  }
  .view-btn{
    font-size: 18px;
    position: absolute;
    left: -300px;
  
  }
  .mission h1{
    font-size: 22px;
  }
  
 
   
}
